.announcement {
  font-size: 14px;
  text-align: center;
  color: #868e96;
}

.message {
  margin: 10px 0 20px 10px;
}

.myMessage {
  margin: 10px 10px 20px 0;
  text-align: right;
}

.messageSender {
  margin: 0 0 5px 5px;
  font-size: 14px;
  color: #868e96;
}

.messageText {
  display: inline-block;
  margin: 0;
  padding: 6px 15px;
  max-width: 200px;
  border-radius: 17px;
  line-height: 1.4;
  text-align: left;
  background-color: #e9ecef;
}

.myMessage .messageText {
  background-color: #1c7ed6;
  color: white;
}

.attachment {
  margin: 0;
}

.messageImage {
  max-width: 200px;
  max-height: 150px;
  border-radius: 13px;
}