.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.header {
  position: relative;
  margin: 0 auto;
  max-width: 720px;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.inviteButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.titleText {
  flex: 1;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-size: 15px; font-weight: 400;
  color: white;
}

.messagesContainer {
  flex: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.messagesWrapper {
  margin: 0 auto;
  max-width: 720px;
}

.editor {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 720px;
  width: 95%;
  display: flex;
  align-items: flex-end;
}

.editorLeft {
  padding-right: 10px;
  padding-bottom: 6px;
}

.editorRight {
  width: 100%;
  flex-direction: column;
  border: 1px solid #adb5bd;
  border-radius: 20px;
}

.field {
  display: flex;
  padding: 5px 11px 5px 0;
  flex: 1;
}

.sendImageButton {
  display: block;
  padding: 0;
  outline: none;
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: #495057;
}

.file {
  display: none;
}

.imagePreview {
  margin-top: 10px;
  margin-left: 10px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 12px;
}

.input {
  flex: 1;
  outline: none;
  padding: 0 10px;
  border: none;
  border-radius: 12px;
}

.input::placeholder {
  color: #adb5bd;
}

.sendButton {
  padding: 0;
  outline: none;
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: #868e96;
}

.announcement {
  font-size: 14px;
  text-align: center;
  color: #868e96;
}

.message {
  margin: 10px 0 20px 10px;
}

.myMessage {
  margin: 10px 10px 20px 0;
  text-align: right;
}

.messageSender {
  margin: 0 0 5px 5px;
  font-size: 14px;
  color: #868e96;
}

.messageText {
  display: inline-block;
  margin: 0;
  padding: 6px 15px;
  max-width: 200px;
  border-radius: 17px;
  line-height: 1.4;
  text-align: left;
  background-color: #e9ecef;
}

.myMessage .messageText {
  background-color: #1c7ed6;
  color: white;
}

.attachment {
  margin: 0;
}

.messageImage {
  max-width: 150px;
  max-height: 150px;
  border-radius: 13px;
}

.modal {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 400px;
  width: 90%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
}